/* flex父元素上设置子元素水平方向对齐方式 */
/* flex父元素上设置子元素垂直方向对齐方式 */
* {
  padding: 0;
  margin: 0;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex!important;
}
.nopadding {
  padding: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.flex_0 {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  -webkit-flex: 0;
  flex: 0;
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex!important;
}
.flex_1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.w100 {
  width: 100%!important;
}
.acenter {
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#app {
  max-width: 320px;
  margin: 0 auto;
}
#app dl {
  margin: 0 1em;
  padding: 1em 0;
}
#app dd {
  line-height: 40px;
}
#app button {
  padding: 8px 2em;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  background: #4154ff;
  color: #fff;
}
#app button + button {
  margin-left: 1em;
}
#app input {
  border: 1px solid #4154ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  height: 30px;
}
#app .dditem label {
  text-align: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 5em;
  -ms-flex: 0 0 5em;
  flex: 0 0 5em;
}
#app .dditem span {
  position: relative;
}
#app .dditem span input[type="range"] {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#app .dditem span input[type="datetime-local"] {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 50%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-size: 14px;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
